<div class="container-fluid py-4">
  <!-- <h3 class="fw-bold mb-4">Campaign Management</h3> -->
   <div>campaign works!</div>

  <!-- 🧱 FORM SECTION -->
  <!-- <form [formGroup]="campaignForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="mb-5">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Charity Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Charity name"/>
        <div *ngIf="charityForm.get('name')?.touched && charityForm.get('name')?.invalid" class="text-danger">
        <small *ngIf="charityForm.get('name')?.errors?.['required']">Charity name is required</small>
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">Registration No</label>
        <input type="text" class="form-control" formControlName="registrationNumber" placeholder="Registration number"/>
        <div *ngIf="charityForm.get('registrationNumber')?.touched && charityForm.get('registrationNumber')?.invalid" class="text-danger">
          <small *ngIf="charityForm.get('registrationNumber')?.errors?.['required']">Registration no is required</small>
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="contactEmail" placeholder="Enter charity email"/>
        <div *ngIf="charityForm.get('contactEmail')?.touched && charityForm.get('contactEmail')?.invalid" class="text-danger">
          <small *ngIf="charityForm.get('contactEmail')?.errors?.['required']">Email is required</small>
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">Website</label>
        <input type="url" class="form-control" formControlName="website" />
      </div>
      <div class="col-12">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
      </div>
      <div class="col-md-6 text-center" *ngIf="previewUrl">
        <label class="form-label d-block">Preview</label>
        <img [src]="previewUrl" class="img-thumbnail" style="max-width: 120px;" />
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
      <button type="submit" class="btn btn-primary" [disabled]="charityForm.invalid">
        {{ isEditMode ? 'Update Charity' : 'Create Charity' }}
      </button>
    </div>
  </form> -->

  <!-- 📋 LIST SECTION -->
  <!-- <div class="d-flex mb-3">
    <input [(ngModel)]="searchTerm" type="text" class="form-control w-25 me-2" placeholder="Search charity..." />
    <button class="btn btn-primary" (click)="onSearch()">Search</button>
  </div> -->
  <!-- <div class="card shadow-sm">
    <div class="card-header bg-light fw-bold">Charity List</div>
    <div class="card-body p-0">
      <div *ngIf="loading" class="text-center py-5">
        <div class="spinner-border text-primary"></div>
      </div>

      <table class="table table-hover mb-0" *ngIf="!loading && charities.length > 0">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Charity Name</th>
            <th>Regis. No</th>
            <th>Email</th>
             <th>Website</th>
            <th>Status</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of charities; let i = index">
            <td>{{ (pageNumber - 1) * pageSize + i + 1 }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.registrationNumber }}</td>
            <td>{{ c.contactEmail }}</td>
            <td><a href="'http://'+c.website" target="_blank">{{ c.website }}</a></td>
            <td>
              <span class="badge" [ngClass]="c.isActive ? 'bg-success' : 'bg-secondary'">
                {{ c.isApproved ? 'Approved' : 'Not Approved' }}
              </span>
            </td>
            <td>{{ c.createdAt | date: 'mediumDate' }}</td>
            <td>
              <button class="btn btn-sm btn-outline-primary me-2" (click)="onEdit(c)">
                <i class="bi bi-pencil-square"></i>
              </button>
               <button class="btn btn-sm btn-outline-danger me-2" (click)="onDelete(c.charityId)">
                <i class="bi bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!loading && charities.length === 0" class="text-center py-4 text-muted">
        No charities found.
      </div>
    </div>
  </div> -->
  <!-- Pagination -->
  <!-- <div class="d-flex justify-content-between align-items-center mt-3">
    <small class="text-muted">
      Showing {{ charities.length }} of {{ totalCount }} charities
    </small>

    <nav *ngIf="totalCount > pageSize">
      <ul class="pagination mb-0">
        <li class="page-item" [class.disabled]="pageNumber === 1">
          <a class="page-link" (click)="onPageChange(pageNumber - 1)">Previous</a>
        </li>
        <li class="page-item" [class.disabled]="(pageNumber * pageSize) >= totalCount">
          <a class="page-link" (click)="onPageChange(pageNumber + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div> -->

</div>
