<nav class="navbar navbar-expand-lg px-4 py-3 fixed-top"
  [ngClass]="isHomePage ? 'charipay-navbar' : 'charipay-navbar light-navbar'">
  <a class="navbar-brand fw-bold" routerLink="/">
    Charipay
    <small class="d-block brand-subtitle">Give. Help. Inspire.</small>
  </a>

  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav align-items-center gap-lg-4 gap-2">

      <li class="nav-item" *ngIf="isDonor">
        <a class="nav-link" routerLink="/donor/dashboard" routerLinkActive="active">
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/campaigns" routerLinkActive="active" class="nav-link">
          Campaigns
        </a>
      </li>
<li class="nav-item">
  <a routerLink="/how-it-works" routerLinkActive="active" class="nav-link">
    How It Works
  </a>
</li>

      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link">
          About Us
        </a>
      </li>

      <ng-container *ngIf="!isLoggedIn; else loggedInMenu">
        <li class="nav-item">
          <a routerLink="/auth/login" class="nav-link">
            <i class="bi bi-person me-1"></i>
            Login
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/auth/register" class="btn nav-register-btn ms-lg-2 px-4">
            Register
          </a>
        </li>
      </ng-container>

<ng-template #loggedInMenu>
  <li class="nav-item nav-user small">
    Hi, {{ userName }}
  </li>

  <li class="nav-item">
    <button class="btn nav-logout-btn ms-lg-2 px-3" (click)="logout()">
      Logout
    </button>
  </li>
</ng-template>

    </ul>
  </div>
</nav>