<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-4">

  <a class="navbar-brand fw-bold text-primary" routerLink="/">Charipay</a>

  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav align-items-center gap-2">

      <li class="nav-item">
        <a routerLink="/campaigns" routerLinkActive="active" class="nav-link">Browse Campaigns</a>
      </li>

      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
      </li>

      <ng-container *ngIf="!isLoggedIn; else loggedInMenu">
        <li class="nav-item">
          <a routerLink="/auth/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/auth/register" class="btn btn-primary ms-2">Sign Up</a>
        </li>
      </ng-container>

      <ng-template #loggedInMenu>
        <li class="nav-item d-flex align-items-center text-secondary">
          Welcome, {{ userName }}
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger ms-2" (click)="logout()">Logout</button>
        </li>
      </ng-template>

    </ul>
  </div>
</nav>